.iletisimMenu{
    margin-top: 15%; 
    margin-left: -16px; 
    position:fixed ;
    font-size: 250%;
    width: 60px;
    z-index: 3;
    height: 380px;
}
.posta{
    color: blue;
}   
.wp{
    color: lightgreen;
}
.github{
    color: gray;
}
.instagram{
    color: hotpink;
}
.govde{
    background-color: whitesmoke;
    position: relative;
}
.paragraflar{
    margin-left: 11%;
    margin-right: 11%;
    margin-top:15% ;
}
.baslik{
    font-style: oblique;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    
}
.paragraf1{
    margin-top:-35px ;
}
.paragraf2{
    margin-top: 18px ; 
}
.altTaraf{
    z-index: 0;
}
/*ÖZGEÇMİŞ SAYFASI*/
.body{
    position: relative;
}
.ustMenu{
    width: 100.710%;
    float: none;
    z-index: 3;
}
.sectionlar{
    margin-left: 10%;
}
.tablo{
    margin-top: 3%;
}