.iletisimMenu{
    margin-top: 15%; 
    margin-left: -16px; 
    position:fixed ;
    font-size: 250%;
    width: 60px;
    z-index: 3;
    height: 380px;
}
.posta{
    color: blue;
}   
.wp{
    color: lightgreen;
}
.github{
    color: gray;
}
.instagram{
    color: hotpink;
}
#hakkindaBody{
    background-color:rgb(167, 114, 17) ;
    position: relative;
}
.paragraflar{
    margin-left: 11%;
    margin-right: 11%;
    margin-top:15% ;
}
.paragraf{
    z-index: 1;
    font-size: larger;
}
.altTaraf{
    z-index: 0;
}
/*ÖZGEÇMİŞ SAYFASI*/
.ustMenu{
    width: 100.710%;
    float: none;
    z-index: 3;
}
.sectionlar{
    margin-left: 10%;
}
.tablo{
    margin-top: 3%;
}
/*KASTAMONU.HTML*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.kastamonuP{
    font: x-large;
}
.paragrafK{
    margin-right: 16%;
    font-size: large;
    font-weight: italic;
}
.yemekSlider{
  width: 40%;
  height: 40%;
}
.linkler{
    text-decoration: none;
    color: active;
}
.linkler:hover{
    text-decoration: none;
    color: none;
}